{% extends "base.html" %}
{% block title %}
    Мой аккаунт
{% endblock title %}
{% block content %}
    <div class="py-6 px-6 bg-white shadow-lg rounded-lg">
        <h1 class="text-2xl font-semibold mb-4">Мой аккаунт</h1>
        <p class="mb-2">
            <strong>Имя пользователя:</strong> {{ request.user.username }}
        </p>
        <p class="mb-2">
            {% if active_team %}
                <strong>Команда:</strong>
                <a href="{% url 'team:detail' active_team.id %}"
                   class="text-blue-600 hover:text-blue-700">{{ active_team.name }}</a>
                {% if active_team.created_by == request.user %}
                    <a href="{% url 'team:edit' active_team.id %}"
                       class="text-blue-600 hover:text-blue-700">(Изменить)</a>
                {% endif %}
            {% else %}
                <a href="{% url 'team:list' %}"
                   class="text-blue-600 hover:text-blue-700">Сменить команду</a>
            {% endif %}
        </p>
        <hr class="mb-4">
        <a href="{% url "userprofile:logout" %}"
           class="inline-block py-2 px-6 bg-red-600 text-white hover:bg-red-700 rounded-xl">Выйти</a>
    </div>
{% endblock content %}
