{% extends "base.html" %}
{% block title %}
    Редактировать клиента
{% endblock title %}
{% block content %}
    <div class="py-6 px-6 bg-white shadow-lg rounded-lg">
        <h1 class="text-2xl font-semibold mb-4">Редактировать клиента</h1>
        <form method="post" action="." class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="py-2 px-4 bg-green-600 text-white hover:bg-green-700 rounded-lg">Подтвердить</button>
        </form>
    </div>
{% endblock content %}
