{% extends "base.html" %}
{% block title %}
    {{ prospectiveclient.name }}
{% endblock title %}
{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">{{ prospectiveclient.name }}</h1>
        {% if prospectiveclient.description %}
            <p class="font.semibold">Описание</p>
            <p class="mb-3">{{ prospectiveclient.description }}</p>
        {% endif %}
        <p class="font-semibold">Приоритет</p>
        <p class="mb-3">{{ prospectiveclient.get_priority_display }}</p>
        <p class="font-semibold">Статус</p>
        <p class="mb-3">{{ prospectiveclient.get_status_display }}</p>
        <p class="font-semibold">Дата создания</p>
        <p class="mb-3">{{ prospectiveclient.created_at }}</p>
        {% if prospectiveclient.created_at != prospectiveclient.modified_at %}
            <p class="font-semibold">Измененен статус</p>
            <p class="mb-3">{{ prospectiveclient.modified_at }}</p>
        {% endif %}
        <hr class="my-4">
        <a href="{% url "prospectiveclient:convert" prospectiveclient.pk %}"
           class="py-2 px-4 bg-blue-400">Переместить в клиенты</a>
        <a href="{% url "prospectiveclient:edit" prospectiveclient.pk %}"
           class="py-2 px-4 bg-green-300">Изменить</a>
        <a href="{% url "prospectiveclient:delete" prospectiveclient.pk %}"
           class="py-2 px-4 bg-red-500">Удалить клиента</a>
        <hr class="my-4">
        <a href="{% url "prospectiveclient:all" %}"
           class="inline-block py-4 px-6 bg-yellow-300">Назад к списку потенциальных клиентов</a>
    </div>
{% endblock content %}
