{% extends "base.html" %}
{% block title %}
    {{ prospectiveclient.name }}
{% endblock title %}
{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">{{ prospectiveclient.name }}</h1>
        {% if prospectiveclient.description %}
            <p class="font.semibold">Описание</p>
            <p class="mb-3">{{ prospectiveclient.description }}</p>
        {% endif %}
        <p class="font-semibold">Приоритет</p>
        <p class="mb-3">{{ prospectiveclient.get_priority_display }}</p>
        <p class="font-semibold">Статус</p>
        <p class="mb-3">{{ prospectiveclient.get_status_display }}</p>
        <p class="font-semibold">Дата создания</p>
        <p class="mb-3">{{ prospectiveclient.created_at }}</p>
        {% if prospectiveclient.created_at != prospectiveclient.modified_at %}
            <p class="font-semibold">Измененен статус</p>
            <p class="mb-3">{{ prospectiveclient.modified_at }}</p>
        {% endif %}
        <hr class="my-4">
        <form id="prospectiveclient_delete_form"
              method="post"
              action="{% url "prospectiveclient:delete" prospectiveclient.id %}">
            {% csrf_token %}
        </form>
        <a href="{% url "prospectiveclient:convert" prospectiveclient.id %}"
           class="py-2 px-4 bg-blue-400">Переместить в клиенты</a>
        <a href="{% url "prospectiveclient:edit" prospectiveclient.id %}"
           class="py-2 px-4 bg-green-300">Изменить</a>
        <a href="#"
           onclick="document.getElementById('prospectiveclient_delete_form').submit();"
           class="py-2 px-4 bg-red-500">Удалить клиента</a>
        <hr class="my-4">
        <h2 class="mb-6 text-3xl">Комментарии</h2>
        <div class="space-y-4">
            {% for comment in prospectiveclient.comments.all %}
                <p>
                    <strong class="mb-2">{{ comment.created_by }}</strong>
                </p>
                {{ comment.created_at }}
                <div class="bg-gray-100 py-6 px-6 rounded-xl">{{ comment.content }}</div>
            {% endfor %}
        </div>
        <form method="post"
              action="{% url "prospectiveclient:add_comment" prospectiveclient.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="py-2 px-4 bg-blue-400">Отправить</button>
        </form>
        <hr class="my-4">
        <a href="{% url "prospectiveclient:all" %}"
           class="inline-block py-4 px-6 bg-yellow-300">Назад к списку потенциальных клиентов</a>
    </div>
{% endblock content %}
