{% extends "base.html" %}
{% block title %}
    {{ team.name }}
{% endblock title %}
{% block content %}
    <div class="py-6 px-6 bg-white shadow-lg rounded-lg">
        <h1 class="text-2xl font-semibold mb-4">{{ team.name }}</h1>
        <a href="{% url "team:all" %}" class="text-blue-600 hover:text-blue-700">Сменить команду</a>
        {% if team.created_by == request.user %}
            <div class="mt-4">
                <a href="{% url "team:edit" team.id %}"
                   class="text-blue-600 hover:text-blue-700">Изменить</a>
            </div>
        {% endif %}
        <p class="mt-6">
            <strong>Кто создал команду:</strong> {{ team.created_by }}
        </p>
        <hr class="my-4">
        <h2 class="font-semibold">Участники</h2>
        {% for member in team.members.all %}<p>{{ member.username }}</p>{% endfor %}
    </div>
{% endblock %}
