{% extends "base.html" %}
{% block title %}
    О нас
{% endblock title %}
{% block content %}
    <div class="py-6 px-6 bg-white shadow-lg rounded-lg">
        <h1 class="text-2xl font-semibold mb-4">О нас</h1>
        <p class="mb-4">
            EasyCRM - это интуитивно понятная система управления взаимоотношениями с клиентами, разработанная для малого и среднего бизнеса.
        </p>
        <p class="mb-4">
            Наша миссия - помочь компаниям эффективно управлять своими взаимодействиями с клиентами, повышая их удовлетворенность и улучшая бизнес-процессы.
        </p>
        <p class="mb-4">
            С нашей системой вы сможете легко отслеживать взаимодействия с клиентами, управлять потенциальными клиентами, анализировать данные и многое другое.
        </p>
    </div>
{% endblock content %}
